.imgList {
  height: 100vh;
  min-height: 100vh;
  padding: 0 2rem;
  row-gap: 1.5rem;
  display: grid;
  grid-auto-columns: min-content;
}

.imgCard {
  box-shadow: inset 0 0 100px 40px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  display: inline-block;
  position: relative;
}

.imgCard:hover {
  opacity: 1;
  transition: opacity var(--transition);
}

.img {
  display: inline-block;
}

.imgText {
  position: absolute;
  bottom: 0;
  display: block;
  opacity: 0;
  transition: var(--transition);
  margin: 0 0 2rem 2rem;
}

.imgName {
  font-size: 2rem;
  margin: 0;
  opacity: 1;
}

.imgAuthor {
  font-size: 0.95rem;
  margin: 0;
  opacity: 0.8;
}

.imgCard:hover .imgText {
  opacity: 1;
}
