.container {
  min-height: 100vh;
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1.5rem;
  align-items: center;
}

.imgCard {
  width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 0 1.5rem;
}

.img {
  position: absolute;
  width: 100%;
  inset: 0;
}

.imgAuthor {
  position: relative;
}
